@using SsoOkta.Models.UmbracoIdentity
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="small-12 columns">
                @Html.Partial("~/Views/UmbracoIdentityAccount/LoginStatus.cshtml", Model)
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                @Html.Partial("~/Views/UmbracoIdentityAccount/Profile.cshtml", Model)
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="small-6 columns">
                @Html.Partial("~/Views/UmbracoIdentityAccount/Login.cshtml", Model)
            </div>
            <div class="small-6 columns">
                @Html.Partial("~/Views/UmbracoIdentityAccount/ExternalLoginsList.cshtml", new ExternalLoginListViewModel { Action = "ExternalLogin" })
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                @Html.Partial("~/Views/UmbracoIdentityAccount/Register.cshtml", Model)
            </div>
        </div>
    }
</section>  